# First Python Notebook

In [13]:
import pandas as pd

Reading in the list of proposition and committees from CSV

In [14]:
props = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/committees.csv")

Read in the list of contributions to ballot measures

In [15]:
contribs = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/contributions.csv")

Index on Proposition 64 - Marijuana Legalization

In [16]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

Merged two tables on committee_id

In [ ]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

Indexed to find committees in favor and against proposition

In [ ]:
support = merged[merged.committee_position == 'SUPPORT']

In [ ]:
oppose = merged[merged.committee_position == "OPPOSE"]

Showing largest contributors in support of proposition

In [19]:
support.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head()

,contributor_firstname,contributor_lastname,committee_position,amount
444,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
443,SEAN,PARKER,SUPPORT,1500000.0
102,DANIEL,LEWIS,SUPPORT,1250000.0
180,HENRY,VAN AMERINGEN,SUPPORT,1000000.0
374,NICHOLAS,PRITZKER,SUPPORT,900000.0