# First Python Notebook

In [2]:
import pandas as pd

Reading in the list of proposition and committees from CSV

In [3]:
props = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/committees.csv")

Read in the list of contributions to ballot measures

In [4]:
contribs = pd.read_csv("https://first-python-notebook.readthedocs.io/_static/contributions.csv")

Index on Proposition 64 - Marijuana Legalization

In [5]:
prop = props[props.prop_name == 'PROPOSITION 064- MARIJUANA LEGALIZATION. INITIATIVE STATUTE.']

Merged two tables on committee_id

In [6]:
merged = pd.merge(prop, contribs, on="calaccess_committee_id")

Indexed to find committees in favor and against proposition

In [7]:
support = merged[merged.committee_position == 'SUPPORT']

In [8]:
oppose = merged[merged.committee_position == "OPPOSE"]

Showing largest contributors in support of proposition

In [9]:
support.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head()

,contributor_firstname,contributor_lastname,committee_position,amount
444,SEAN,PARKER AND AFFILIATED ENTITIES,SUPPORT,7250000.0
443,SEAN,PARKER,SUPPORT,1500000.0
102,DANIEL,LEWIS,SUPPORT,1250000.0
180,HENRY,VAN AMERINGEN,SUPPORT,1000000.0
374,NICHOLAS,PRITZKER,SUPPORT,900000.0

Showing largest contributors against proposition

In [10]:
oppose.groupby(["contributor_firstname", "contributor_lastname", "committee_position"]).amount.sum().reset_index().sort_values("amount", ascending=False).head()

   contributor_firstname contributor_lastname committee_position     amount
20                 JULIE              SCHAUER             OPPOSE  1364000.0
31                ROBERT                ADAMS             OPPOSE     6500.0
29               MICHAEL                 DEAN             OPPOSE     5000.0
13                GEORGE                 BELL             OPPOSE     1550.0
12               FARSHAD               FARDAD             OPPOSE     1000.0